@tailwind base;
@tailwind components;
@tailwind utilities;

/* 加上一段基础样式确保能看到效果 */
html, body, #root {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #09090b; /* 这里的深黑色 */
    color: white;
}